<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
    <link rel="stylesheet" href="css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>

    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">devJobs</a>
        </h1>

    </div>

    <div class="contenido-principal contenedor">

        {{{body}}}

    </div>

    
    
</body>
</html>